@import 'config';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	@include flex-ct;
	font-family: $font-stack;
	background-color: #fafafa;
}

section {
	width: 375px;
	height: 667px;
	position: relative;
	box-shadow: 0px 0px 1px 1px $grey-color;
}

header {
	img {
		width: 100%;
	}
	a.btn-back {
		position: absolute;
		top: 15px;
		left: 15px;
		@include flex-ct;
		color: $white-color;
		font-size: $font-size-small;
		@include font-reg;
		text-decoration: none;

		img {
			padding-right: 10px;
		}
	}
	z-index: -1;
}

main {
	height: 450px;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 1;
	background-color: $white-color;
	border-radius: 40px 40px 0 0;
	padding: 20px 25px 0;
	color: $purple-color;
	.head {
		.top {
			@include flex-sp-bt;
		}
		h1.name {
			font-size: $font-size-large;
			@include font-black;
		}
		button {
			cursor: pointer;
			background: transparent;
			border: none;
			outline-width: 0;
		}
	}
	div.btn-follow {
		cursor: pointer;
		display: flex;
		align-items: center;
		span {
			color: $purple-color;
			@include font-black;
			padding-left: 5px;
			font-size: $font-size-xsmall;
		}
	}

	.subhead {
		ul {
			margin: 20px 0;
			padding: 6px 0;
			width: 100%;
			@include flex-sp-ar;
			height: 60px;
			border-top: $border-purple;
			border-bottom: $border-purple;

			li {
				list-style-type: none;
				display: flex;
				flex-direction: column;
				align-items: center;
				p.head {
					font-size: $font-size-reg;
					line-height: 0.9;
					@include font-black;
				}
				p {
					font-size: $font-size-xsmall;
					@include font-black;
				}
			}
		}
	}

	h2 {
		font-size: $font-size-xsmall;
		@include font-black;
		padding-left: 5px;
	}

	ul.categories {
		margin-top: 9px;
		li {
			list-style-type: none;
			font-size: $font-size-reg1;
			border-bottom: $border-purple;
			padding: 0 5px;
			a {
				@include flex-sp-bt;
				@include font-reg;
				padding: 21px 0;
				text-decoration: none;
				&:active {
					color: $purple-color;
				}
			}
		}
	}
}
